body {
background-color: pink;
color: rgb(0, 0, 0);
}

.heading{
width: 80%;
font-size: 22px;
}

.name_of_objects, #result_object_name, #result_object_accuracy{
    color: blue;
}

#camera {
    width: 350px;
    height: 300px;
    border: 2px dashed black;
}